[phases.setup]
nixPkgs = ['nodejs', 'npm']

[phases.install]
cmds = ['npm install']

[phases.build]
cmds = ['npm run build']

[start]
cmd = 'npm run start:frontend'

[providers]
node = { version = "18" }

[variables]
NODE_ENV = "production"