[build]
builder = "nixpacks"

[deploy]
startCommand = "npm run build && node start-app.js"
healthcheckPath = "/api/health"
healthcheckTimeout = 120
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 5

[project]
id = "ee55e7fa-b010-4946-a87b-013e15e329a8"
