[build]
builder = "nixpacks"

[deploy]
startCommand = "npm run build && node start-app.js"
healthcheckPath = "/"
healthcheckTimeout = 30
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3

[project]
id = "ee55e7fa-b010-4946-a87b-013e15e329a8"
